<%= form_with(model: view, local: true) do |form| %>
  <% if view.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(view.errors.count, "error") %> prohibited this view from being saved:</h2>

      <ul>
      <% view.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :view_name %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model, id: :view_model %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code, id: :view_code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
