<p id="notice"><%= notice %></p>

<%= render 'view', view: @view %>

<%= link_to 'Edit', edit_view_path(@view) %> |
<%= link_to 'Back', views_path %> |
<%= link_to 'Columns', view_columns_path(@view) %>

